header, footer {
    width: 100%;
    padding: 10px;
    background: #09b668;
    color: #fff;
    margin: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
}

.main_container {
    margin: 50px 15px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #ffdfdf;
    border: solid 1px black;
    padding: 10px 20px;
}

td {
    background-color: #f1c8c861;
    text-align: center;
    border: solid 1px black;
    padding: 10px 20px;
}

.error_message {
    background-color: #ec98ac8f;
    border: 2px solid #ec7592;
    padding: 15px;
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

.notice {
    background-color: #98ecaa7a;
    border: 2px solid #5cd075;
    padding: 15px;
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
}

li {
    list-style: none;
    padding-left: 0px;
}